
*{
    font-family: "Roboto Mono", monospace;
}
ul{
    list-style: none;
}

li{
    padding-top: 3rem;
}

a{text-decoration: none;
    color:black}


a {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  a::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  a:hover::after {
    top: 0px;
    left: 0px;
  }